@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-main-color-1 {
        background-color: rgb(171, 95, 35);
    }

    .bg-main-color-2 {
        background-color: rgb(61, 39, 31);
    }

    .bg-main-color-3 {
        background-color: rgb(40, 36, 40);
    }


    .color-idea-1 {
        background-color: rgb(55, 59, 46);
    }

    .color-idea-2 {
        background-color: rgb(124, 122, 111);
    }

    .color-idea-3 {
        background-color: rgb(41, 68, 72);
    }

    .color-idea-4 {
        background-color: rgb(162, 168, 164);
    }

    .color-idea-5 {
        background-color: rgb(146, 85, 33);
    }

    .color-idea-6 {
        background-color: rgb(83, 33, 17);
    }
}

.gallery-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.gallery-container::-webkit-scrollbar {
    display: none;
}
